<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>None</AuthenticationType>
    <RequiresIntrinsicDataSource>false</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <LightSwitchPublishVersion>v2.4</LightSwitchPublishVersion>
    <PackageLocation>../../../../../../Publish1//SDesk-KGEU.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../bin/Release/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../bin/Release/SDesk-KGEU.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//SDesk-KGEU.Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../bin/Release/SDesk-KGEU.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../SDesk-KGEU.lsxtproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>